In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Read dataset

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data1 = pd.read_csv("drive/MyDrive/news/english/True.csv")
data2 = pd.read_csv("drive/MyDrive/news/english/Fake.csv")
data = pd.concat([data1, data2]).reset_index(drop=True)
data

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
...,...,...,...,...
44893,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016"
44894,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016"
44895,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016"
44896,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016"
44897,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016"

In [ ]:
y = [1 for i in range(data1.shape[0])] + [0 for i in range(data2.shape[0])]
y = pd.Series(y)

In [ ]:
def transform(c):
    return c["title"] + " " + c["text"]
data = data.apply(transform, axis=1)
print(data)

0        As U.S. budget fight looms, Republicans flip t...
1        U.S. military to accept transgender recruits o...
2        Senior U.S. Republican senator: 'Let Mr. Muell...
3        FBI Russia probe helped by Australian diplomat...
4        Trump wants Postal Service to charge 'much mor...
                               ...
44893    McPain: John McCain Furious That Iran Treated ...
44894    JUSTICE? Yahoo Settles E-mail Privacy Class-ac...
44895    Sunnistan: US and Allied ‘Safe Zone’ Plan to T...
44896    How to Blow $700 Million: Al Jazeera America F...
44897    10 U.S. Navy Sailors Held by Iranian Military ...
Length: 44898, dtype: object

Text Processing - Cleaning

In [ ]:
import nltk
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
from nltk.tokenize import word_tokenize

from nltk.stem.snowball import SnowballStemmer
stemmer = SnowballStemmer(language="english")

from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))

import string
punct = string.punctuation

In [ ]:
def process(s):
    for p in punct:
        s = s.replace(p, '')
    s = s.lower()
    s = word_tokenize(s)
    s = [w for w in s if not w in stop_words] #optional
    s = [stemmer.stem(word) for word in s]
    return s

In [ ]:
number_of_samples = data.shape[0]

from tqdm import tqdm

for i in tqdm(range(number_of_samples)):
    data[i] = process(data[i])

100%|██████████| 44898/44898 [06:33<00:00, 113.98it/s]

In [ ]:
data

0        [us, budget, fight, loom, republican, flip, fi...
1        [us, militari, accept, transgend, recruit, mon...
2        [senior, us, republican, senat, let, mr, muell...
3        [fbi, russia, probe, help, australian, diploma...
4        [trump, want, postal, servic, charg, much, ama...
                               ...
44893    [mcpain, john, mccain, furious, iran, treat, u...
44894    [justic, yahoo, settl, email, privaci, classac...
44895    [sunnistan, us, alli, ‘, safe, zone, ’, plan, ...
44896    [blow, 700, million, al, jazeera, america, fin...
44897    [10, us, navi, sailor, held, iranian, militari...
Length: 44898, dtype: object

In [ ]:
for i in tqdm(range(number_of_samples)):
    data[i] = " ".join(data[i])

100%|██████████| 44898/44898 [00:01<00:00, 37272.02it/s]

In [ ]:
data

0        us budget fight loom republican flip fiscal sc...
1        us militari accept transgend recruit monday pe...
2        senior us republican senat let mr mueller job ...
3        fbi russia probe help australian diplomat tipo...
4        trump want postal servic charg much amazon shi...
                               ...
44893    mcpain john mccain furious iran treat us sailo...
44894    justic yahoo settl email privaci classact 4m l...
44895    sunnistan us alli ‘ safe zone ’ plan take terr...
44896    blow 700 million al jazeera america final call...
44897    10 us navi sailor held iranian militari – sign...
Length: 44898, dtype: object

Text Representation

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
import pickle
eng_vec = CountVectorizer(max_features=5000)
bow_data = eng_vec.fit_transform(data).toarray()
pickle.dump(eng_vec, open('/content/drive/MyDrive/news/english/eng_vec.pkl', 'wb'))
features = eng_vec.get_feature_names_out()
bow_data = pd.DataFrame(bow_data, columns=features)

In [ ]:
bow_data

,10,100,1000,10000,100000,11,12,120,13,130,...,zanupf,zarrab,zealand,zero,zika,zimbabw,zink,zone,zuckerberg,zuma
0,2,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44893,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44894,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44895,0,2,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,14,0,0
44896,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
44897,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Spliting dataset into train and test

In [ ]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(bow_data, y, test_size=0.2)

Training

In [ ]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report
nb_model = MultinomialNB()
nb_model.fit(xtrain, ytrain)
ypred_ts = nb_model.predict(xtest)
print("Classification Report:\n")
print(classification_report(ytest, ypred_ts, target_names=['FAKE', 'REAL']))

Classification Report:

              precision    recall  f1-score   support

        FAKE       0.95      0.95      0.95      4718
        REAL       0.94      0.94      0.94      4262

    accuracy                           0.95      8980
   macro avg       0.95      0.95      0.95      8980
weighted avg       0.95      0.95      0.95      8980

In [ ]:
from sklearn.naive_bayes import BernoulliNB
from sklearn.metrics import classification_report
bnb_model = BernoulliNB()
bnb_model.fit(xtrain, ytrain)
ypred_ts = bnb_model.predict(xtest)
print("Classification Report:\n")
print(classification_report(ytest, ypred_ts, target_names=['FAKE', 'REAL']))

Classification Report:

              precision    recall  f1-score   support

        FAKE       0.97      0.96      0.96      4718
        REAL       0.96      0.96      0.96      4262

    accuracy                           0.96      8980
   macro avg       0.96      0.96      0.96      8980
weighted avg       0.96      0.96      0.96      8980

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report
dt_model = DecisionTreeClassifier(min_samples_split=50,max_depth=10)
dt_model.fit(xtrain, ytrain)
ypred_ts = dt_model.predict(xtest)
print("Classification Report:\n")
print(classification_report(ytest, ypred_ts, target_names=['FAKE', 'REAL']))

Classification Report:

              precision    recall  f1-score   support

        FAKE       0.99      0.99      0.99      4718
        REAL       0.99      0.99      0.99      4262

    accuracy                           0.99      8980
   macro avg       0.99      0.99      0.99      8980
weighted avg       0.99      0.99      0.99      8980

In [ ]:
from sklearn.linear_model import SGDClassifier
sgd_model = SGDClassifier(loss="log",alpha=0.1)
sgd_model.fit(xtrain, ytrain)
ypred_ts = sgd_model.predict(xtest)
print("Classification Report:\n")
print(classification_report(ytest, ypred_ts, target_names=['FAKE', 'REAL']))

Classification Report:

              precision    recall  f1-score   support

        FAKE       0.98      0.98      0.98      4718
        REAL       0.98      0.98      0.98      4262

    accuracy                           0.98      8980
   macro avg       0.98      0.98      0.98      8980
weighted avg       0.98      0.98      0.98      8980

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rf_model = RandomForestClassifier(max_depth=2)
rf_model.fit(xtrain, ytrain)
ypred_ts = rf_model.predict(xtest)
print("Classification Report:\n")
print(classification_report(ytest, ypred_ts, target_names=['FAKE', 'REAL']))

Classification Report:

              precision    recall  f1-score   support

        FAKE       0.93      0.99      0.96      4718
        REAL       0.99      0.92      0.95      4262

    accuracy                           0.96      8980
   macro avg       0.96      0.96      0.96      8980
weighted avg       0.96      0.96      0.96      8980

In [ ]:
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()
from sklearn.naive_bayes import BernoulliNB
bnb = BernoulliNB()
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()
from sklearn.linear_model import SGDClassifier
sgd = SGDClassifier(loss="log")
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
from sklearn.ensemble import VotingClassifier
model = VotingClassifier(estimators=[('MultinomialNB', nb), ('BernoulliNB', bnb), ('DecisionTreeClassifier', dt),
                                              ('SGDClassifier', sgd), ('RandomForestClassifier', rf)], voting='soft')

model.fit(xtrain, ytrain)
ypred_ts = model.predict(xtest)
print("Testing Results:\n")
print(classification_report(ytest, ypred_ts, target_names=['FAKE', 'REAL']))

Testing Results:

              precision    recall  f1-score   support

        FAKE       0.99      1.00      1.00      4718
        REAL       1.00      0.99      1.00      4262

    accuracy                           1.00      8980
   macro avg       1.00      1.00      1.00      8980
weighted avg       1.00      1.00      1.00      8980

In [ ]:
import joblib  
# Save the model as a pickle in a file 
joblib.dump(model, 'english.pkl')

['english.pkl']

Prediction

In [ ]:
import pickle, joblib
import warnings
warnings.filterwarnings('ignore')

tinput = 'As U.S. budget fight looms, Republicans flip their fiscal script WASHINGTON (Reuters) - The head of a conservative Republican faction in the U.S. Congress, who voted this month for a huge expansion of the national debt to pay for tax cuts, called himself a â€œfiscal conservativeâ€ on Sunday and urged budget restraint in 2018. In keeping with a sharp pivot under way among Republicans, U.S. Representative Mark Meadows, speaking on CBSâ€™ â€œFace the Nation,â€ drew a hard line on federal spending, which lawmakers are bracing to do battle over in January. When they return from the holidays on Wednesday, lawmakers will begin trying to pass a federal budget in a fight likely to be linked to other issues, such as immigration policy, even as the November congressional election campaigns approach in which Republicans will seek to keep control of Congress. President Donald Trump and his Republicans want a big budget increase in military spending, while Democrats also want proportional increases for non-defense â€œdiscretionaryâ€ spending on programs that support education, scientific research, infrastructure, public health and environmental protection. â€œThe (Trump) administration has already been willing to say: â€˜Weâ€™re going to increase non-defense discretionary spending ... by about 7 percent,â€™â€ Meadows, chairman of the small but influential House Freedom Caucus, said on the program. â€œNow, Democrats are saying thatâ€™s not enough, we need to give the government a pay raise of 10 to 11 percent. For a fiscal conservative, I donâ€™t see where the rationale is. ... Eventually you run out of other peopleâ€™s money,â€ he said. Meadows was among Republicans who voted in late December for their partyâ€™s debt-financed tax overhaul, which is expected to balloon the federal budget deficit and add about $1.5 trillion over 10 years to the $20 trillion national debt. â€œItâ€™s interesting to hear Mark talk about fiscal responsibility,â€ Democratic U.S. Representative Joseph Crowley said on CBS. Crowley said the Republican tax bill would require the  United States to borrow $1.5 trillion, to be paid off by future generations, to finance tax cuts for corporations and the rich. â€œThis is one of the least ... fiscally responsible bills weâ€™ve ever seen passed in the history of the House of Representatives. I think weâ€™re going to be paying for this for many, many years to come,â€ Crowley said. Republicans insist the tax package, the biggest U.S. tax overhaul in more than 30 years,  will boost the economy and job growth. House Speaker Paul Ryan, who also supported the tax bill, recently went further than Meadows, making clear in a radio interview that welfare or â€œentitlement reform,â€ as the party often calls it, would be a top Republican priority in 2018. In Republican parlance, â€œentitlementâ€ programs mean food stamps, housing assistance, Medicare and Medicaid health insurance for the elderly, poor and disabled, as well as other programs created by Washington to assist the needy. Democrats seized on Ryanâ€™s early December remarks, saying they showed Republicans would try to pay for their tax overhaul by seeking spending cuts for social programs. But the goals of House Republicans may have to take a back seat to the Senate, where the votes of some Democrats will be needed to approve a budget and prevent a government shutdown. Democrats will use their leverage in the Senate, which Republicans narrowly control, to defend both discretionary non-defense programs and social spending, while tackling the issue of the â€œDreamers,â€ people brought illegally to the country as children. Trump in September put a March 2018 expiration date on the Deferred Action for Childhood Arrivals, or DACA, program, which protects the young immigrants from deportation and provides them with work permits. The president has said in recent Twitter messages he wants funding for his proposed Mexican border wall and other immigration law changes in exchange for agreeing to help the Dreamers. Representative Debbie Dingell told CBS she did not favor linking that issue to other policy objectives, such as wall funding. â€œWe need to do DACA clean,â€ she said.  On Wednesday, Trump aides will meet with congressional leaders to discuss those issues. That will be followed by a weekend of strategy sessions for Trump and Republican leaders on Jan. 6 and 7, the White House said. Trump was also scheduled to meet on Sunday with Florida Republican Governor Rick Scott, who wants more emergency aid. The House has passed an $81 billion aid package after hurricanes in Florida, Texas and Puerto Rico, and wildfires in California. The package far exceeded the $44 billion requested by the Trump administration. The Senate has not yet voted on the aid.'
finput = 'Donald Trump Sends Out Embarrassing New Yearâ€™s Eve Message; This is Disturbing Donald Trump just couldn t wish all Americans a Happy New Year and leave it at that. Instead, he had to give a shout out to his enemies, haters and  the very dishonest fake news media.  The former reality show star had just one job to do and he couldn t do it. As our Country rapidly grows stronger and smarter, I want to wish all of my friends, supporters, enemies, haters, and even the very dishonest Fake News Media, a Happy and Healthy New Year,  President Angry Pants tweeted.  2018 will be a great year for America! As our Country rapidly grows stronger and smarter, I want to wish all of my friends, supporters, enemies, haters, and even the very dishonest Fake News Media, a Happy and Healthy New Year. 2018 will be a great year for America!  Donald J. Trump (@realDonaldTrump) December 31, 2017Trump s tweet went down about as welll as you d expect.What kind of president sends a New Year s greeting like this despicable, petty, infantile gibberish? Only Trump! His lack of decency won t even allow him to rise above the gutter long enough to wish the American citizens a happy new year!  Bishop Talbert Swan (@TalbertSwan) December 31, 2017no one likes you  Calvin (@calvinstowell) December 31, 2017Your impeachment would make 2018 a great year for America, but I ll also accept regaining control of Congress.  Miranda Yaver (@mirandayaver) December 31, 2017Do you hear yourself talk? When you have to include that many people that hate you you have to wonder? Why do the they all hate me?  Alan Sandoval (@AlanSandoval13) December 31, 2017Who uses the word Haters in a New Years wish??  Marlene (@marlene399) December 31, 2017You can t just say happy new year?  Koren pollitt (@Korencarpenter) December 31, 2017Here s Trump s New Year s Eve tweet from 2016.Happy New Year to all, including to my many enemies and those who have fought me and lost so badly they just don t know what to do. Love!  Donald J. Trump (@realDonaldTrump) December 31, 2016This is nothing new for Trump. He s been doing this for years.Trump has directed messages to his  enemies  and  haters  for New Year s, Easter, Thanksgiving, and the anniversary of 9/11. pic.twitter.com/4FPAe2KypA  Daniel Dale (@ddale8) December 31, 2017Trump s holiday tweets are clearly not presidential.How long did he work at Hallmark before becoming President?  Steven Goodine (@SGoodine) December 31, 2017He s always been like this . . . the only difference is that in the last few years, his filter has been breaking down.  Roy Schulze (@thbthttt) December 31, 2017Who, apart from a teenager uses the term haters?  Wendy (@WendyWhistles) December 31, 2017he s a fucking 5 year old  Who Knows (@rainyday80) December 31, 2017So, to all the people who voted for this a hole thinking he would change once he got into power, you were wrong! 70-year-old men don t change and now he s a year older.Photo by Andrew Burton/Getty Images.'
input = process(finput)
input = " ".join(input)
eng_vec = pickle.load(open('/content/drive/MyDrive/news/english/eng_vec.pkl', 'rb'))
input = eng_vec.transform([input]).toarray()
features = eng_vec.get_feature_names_out()
input = pd.DataFrame(input, columns=features)
model = joblib.load('/content/drive/MyDrive/news/english/english.pkl')
pred = model.predict(input)
if pred[0] == 1:
    print('REAL')
else:
    print('FAKE')

FAKE

## Web

In [ ]:
!pip install pyngrok
!pip install flask-ngrok
!pip install flask-cors==3.0.7

In [ ]:
!ngrok authtoken 24jMmkCh5Tr4hOZ9Dpg69QtTDSH_3n21SSxtBHr1F9QckcBzi

Authtoken saved to configuration file: /root/.ngrok2/ngrok.yml

In [ ]:
from flask_ngrok import run_with_ngrok
from flask import Flask
from flask import app,request, render_template
import json
import sys
from flask import jsonify
# import requests
from datetime import datetime
from base64 import b64decode
from flask_cors import CORS, cross_origin
import warnings
warnings.filterwarnings('ignore')
app = Flask(__name__)
cors = CORS(app)
run_with_ngrok(app)   #starts ngrok when the app is run
@app.route('/fake_news',methods=['POST',"GET"])
def index():

    result = input(request.values.get('uri'))
    return result

def input(txt):
    
    txt = process(txt)
    txt = " ".join(txt)
    eng_vec = pickle.load(open('/content/drive/MyDrive/news/english/eng_vec.pkl', 'rb'))
    txt = eng_vec.transform([txt]).toarray()
    features = eng_vec.get_feature_names_out()
    txt = pd.DataFrame(txt, columns=features)
    model = joblib.load('/content/drive/MyDrive/news/english/english.pkl')
    pred = model.predict(txt)
    if pred[0] == 1:
        return {'data': 'REAL'}
    else:
        return {'data': 'FAKE'}

if __name__ == '__main__':
    app.run()